@{ ViewBag.Title = "Selamat datang!";}
<div class="text-center">
    <h2>Silahkan tekan tombol berikut untuk post data diri Anda!</h2>

    @Html.ActionLink("Masuk", "Rsvp", null, new { @class = "btn btn-success" })
</div>