@model Students.Models.GuestResponse
@{ ViewBag.Title = "Thanks";}
<h1>Thank you, @Model.Nama!</h1>
<div class="lead">

    Selamat! Data Anda telah terisi!

    @Html.Action("Attendees", "Home")

</div>
